.container {
    position: relative;
  }

.profileImageContainer {
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 200px;
  }

.profileImage {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

.iconContainer {
    background-color: #ff5a60;
    border-radius: 50%;
    bottom: 0;
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
  }

.iconImage {
    height: 100%;
    padding: 12px;
  }