.container {
    display: flex;
    flex-direction: column;
}

.label {
    color: #acacac;
    margin-bottom: 0.2rem;
}

.input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    outline: none;
    padding: 12px;
    resize: none;
    width: 100%;
    min-height: 100px;
};
